*{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0px;
    padding: 0px;
    
    
}
body{
    background:url("https://wallpaperaccess.com/full/2593068.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
/**********************************************/
header{
display: flex;
justify-content: space-around;
border-bottom:solid lightgray 1px ;
padding: 15px;
color: aliceblue;
}
header h1{
    color:whitesmoke;
    font-size:1.6em;
}
.logo{
    display: flex;
}
.logo img{
    width: 40px;
    height: 40px;
    margin-right: 5px;

}
header form{
    display: flex;
    margin-top: 6px;
    margin-bottom: 6px;
    

}
.search{
    height: 20px;
}
#search-button{
    padding: 5px;
    background-color:slategrey;
    border-radius: 4px;
    border:none;
}
header form input {
    float: right;
    padding: 6px;
    border:solid 1px slategrey;

    font-size: 13px;
    border-radius: 4px;
    margin-left: 10px;
  }
  /*******************************************************************/
  .cart{
    width: 70%;
    padding: 20px;
    margin:0 auto;
    margin-top: 70px;
    margin-bottom: 100px;
    background-color: #ffff;
    box-shadow: 1px 2px 3px 0px rgba(0,0,0,0.10);
  border-radius: 6px;
  opacity: 0.95;
    
  }
  .cart h1{
    height: 60px;
  border-bottom: 1px solid #E1E8EE;
  padding: 20px 30px;
  color: #5E6977;
  font-size: 30px;
  font-weight: 700;
  }
  .cont{
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 25px;
    border-bottom: 1px solid #E1E8EE;
  }
 
  .like {
    margin-top: 15px;
    margin-right: 30px;
    left: 15px;
    background: url('./img/heart.jpg');
    width: 40px;
    height: 40px;
    border: none;
    background-size: 100%;
    background-repeat: no-repeat;
    filter: grayscale(1);
  }

  .img{
    height: 100px;
    width: 100px;
    margin-right: 30px;
  }
  .descrip {
    padding-top: 17px;
    margin-right: 50px;
    width: 190px;
    font-size: 15px;
  color: #43484D;
  font-weight: 500;
  }
  .quantity , .price {
    padding-top: 23px;
    margin-right: 50px;
  }
  .quantity .minus , .plus {
    width: 20px;
    height: 20px;
  }
  .quantity input {
    -webkit-appearance: none;
    border: none;
    text-align: center;
    width: 32px;
    font-size: 16px;
    color: #43484D;
    font-weight: 300;
  }
.cancel{
    margin-top:20px;
    background: url('./img/del.png');
    width: 30px;
    height: 30px;
    border: none;
    background-size: 100%;
    background-repeat: no-repeat;

}
button {
    width: 30px;
    height: 30px;
    background-color: #E1E8EE;
    border-radius: 6px;
    border: none;
    cursor: pointer;
  }
  .total {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    height: 50px;
    margin-left: 65%;
  }
  .total p{
    margin-top: px;
    font-size: 1.8em;
    font-weight: 600;
    color: #43484D;
  }
  .tot{
    height: 30px;
    border:none ;
    width: 150px;
    font-size: 1.7em;
    align-items: center;
    font-weight: 600;
    color: #43484D;
    margin-top: 5px;
  }
